<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>KinoCMS</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/adminlte.min.css">
 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script> 
    </head>
    <body>

        <div th:insert="header :: header"></div>
        <div th:insert="sidebar :: sidebar"></div>

        <div class="main" style="margin: 0; padding: 0; margin-top: 20px;">

            <div class="content-wrapper" style="margin: 0;">


            <!-- Main content -->
            <!-- -->
            <section class="mysection" style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 10px; row-gap: 20px;">
              <div style="border: 1px solid black; padding-block: 20px; width: 100%; height: 100%; display: inline-block;">
                <canvas id="pieChart" >

                </canvas>
              </div>

              <div style="border: 1px solid black; padding-block: 20px; width: 100%; height: 100%; display: inline-block;">
                <canvas id="doughnutChart" >

                </canvas>
              </div>

              <div style="border: 1px solid black; padding-block: 20px; width: 100%; height: 100%; display: inline-block;">
                <canvas id="lineChart" >

                </canvas>
              </div>

              <div style="border: 1px solid black; padding-block: 20px; width: 100%; height: 100%; display: inline-block;">
                <canvas id="barChart" >

                </canvas>
              </div>

            </section>
            <!-- /.content -->
          </div>

        </div>

        <script src="charts/plugins/jquery/jquery.min.js"></script>
        <script src="charts/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="charts/dist/js/adminlte.min.js"></script>

        <script th:inline="javascript">

        /*<![CDATA[*/

        var users = /*[[${userList}]]*/;
        var movies = /*[[${movieList}]]*/;

        /*]]>*/

        console.log(users);
        console.log(movies);

            // PIE/DOUGH
            let maleCount = 0;
            let femaleCount = 0;

            for(let i = 0; i < users.length; i++) {
                if(users[i].gender === 'MALE') maleCount++;
                else femaleCount++;
            }

            var yValues = [maleCount, femaleCount];
            var barColors = ["blue", "pink"];

            new Chart("pieChart", {
                type: "pie",
                data: {
                  labels: ["Мужчины", "Женщины"],
                  datasets: [{
                    backgroundColor: ["blue", "pink"],
                    data: yValues
                  }]
                },
                options: {
                  title: {
                    display: true,
                    text: "Распределение пользователей по полу"
                  }
                }
             });

             let yearsMap = new Map();

             for(let j = 0; j < movies.length; j++) {
                var release_year = movies[j].release_date.split('-')[0];
                console.log(release_year);
                yearsMap.set(release_year, yearsMap.get(release_year) + 1 || 1);
                console.log(yearsMap.get(release_year));
             }

             let yearsLabels = [];
             let yearsValues = [];

             new Chart("doughnutChart", {
                type: "doughnut",
                data: {
                  labels: Array.from(yearsMap.keys()),
                  datasets: [{
                    backgroundColor: ["cyan", "yellow"],
                    data: Array.from(yearsMap.values())
                  }]
                },
                options: {
                  title: {
                    display: true,
                    text: "Выпущенные фильмы по годам"
                  }
                }
             });


             //LINE
             var xValues1 = ["01.2022","03.2022","05.2022","07.2022","09.2022","11.2022"];
             var yValues1 = [15,38,120,250,440,761];

              new Chart("lineChart", {
                type: "line",
                data: {
                  labels: xValues1,
                  datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues1
                  }]
                },
                options: {
                  legend: {display: false},
                  title: {
                    display: true,
                    text: "Кол-во зарегистрированных пользователей"
                  },
                  scales: {
                    yAxes: [{ticks: {min: 10, max:1000}}],
                  }
                }
              });

              //STACKED BAR
              var xValues2 = ["Боевики", "Драмы", "Детективы", "Ужасы"];
              var yValues2 = [55, 49, 44, 24];
              var barColors = ["red", "green","blue","orange"];

              new Chart("barChart", {
                type: "bar",
                data: {
                  labels: xValues2,
                  datasets: [{
                    backgroundColor: barColors,
                    data: yValues2
                  }]
                },
                options: {
                  legend: {display: false},
                  title: {
                    display: true,
                    text: "Кол-во фильмов по жанрам"
                  }
                }
              });
        </script>

    </body>

</html>