<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>KinoCMS - Users</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/users2.css">
        <link rel="stylesheet" href="/css/pagination2.css">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>

    </head>
    <body>
        
        <div th:insert="header :: header"></div>
        <div th:insert="sidebar :: sidebar"></div>


        <div class="main">

            <h1 style="text-align: center;" id="users_name">Пользователи</h1>

            <div class="table">

                <table>
                    <tr>
                        <th>ID</th>
                        <th>Дата регистрации</th>
                        <th>День рождения</th>
                        <th>Email</th>
                        <th>Телефон</th>
                        <th>ФИО</th>
                        <th>Псевдоним</th>
                        <th>Город</th>
                    </tr>
                </table>

                <table class="myTable" id="table">

                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.user_id}"></td>
                            <td th:text="${{user.registration_date}}"></td>
                            <td th:text="${{user.birth_date}}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phone_number}"></td>
                            <td th:text="${user.name} + ' ' + ${user.surname}"></td>
                            <td th:text="${user.alias}"></td>
                            <td th:text="${user.city}"></td>
                            <td class="icons"><a th:href="'/users/' + ${user.user_id} + '/edit'"><i class="fa-solid fa-pen-to-square fa-2xl"></i></a></td>
                            <td class="icons"><a th:href="'/users/' + ${user.user_id} + '/delete'"><i class="fa-solid fa-trash fa-2xl delete-icon"></i></a></td>
                        </tr>
                    </tbody>

                </table>


            </div>

            <div class="pagination"></div>

        </div>

        <script type="text/javascript">

        $(document).ready(function() {
            $(".myTable").fancyTable({
               pagination: true,
               paginationElement: '.pagination',
               perPage:7,
               searchable:true,
               globalSearch:true,
               sortable:false,
            });

            let searchbar = document.getElementsByClassName('fancySearchRow')[0];
            console.log(searchbar);
            let tag = document.getElementById('users_name');
            console.log(tag);
            tag.parentNode.insertBefore(searchbar, tag.nextSibling);
        });

        </script>

    </body>

</html>