<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/main_page_22.css}">
  <link rel="stylesheet" th:href="@{/css/main_h_f2.css}">
  <link rel="stylesheet" th:href="@{/css/news-list3.css}">
  <link rel="stylesheet" th:href="@{/css/pages1.css}">
  <title>KinoCMS</title>
</head>
<body>

<div th:insert="main_h :: main_header"></div>

<div class="main">

  <div class="banner">
    <img th:src="@{/images/pages/{id}/{url}(id=${page.id}, url=${page.main_picture})}" alt="">
  </div>

  <div class="content">

    <div>
      <h2 th:text="${page.name}" style="text-align: center">Кафе-бар</h2>
      <br>
      <p th:text="${page.description}">Lorem ipsum dolor sit amet</p>
      <br>

      <div class="photos">
        <div><img class="photo" th:src="@{/images/pages/{id}/{url}(id=${page.id}, url=${page.picture1})}" alt=""></div>
        <div><img class="photo" th:src="@{/images/pages/{id}/{url}(id=${page.id}, url=${page.picture2})}" alt=""></div>
        <div><img class="photo" th:src="@{/images/pages/{id}/{url}(id=${page.id}, url=${page.picture3})}" alt=""></div>
      </div>

      <br>
      <h2 style="text-align: center">Меню</h2>
      <br>

      <table>

        <thead>
        <tr>
          <th><span class="triangle" style="font-size: 12px">&#9660;</span> <span class="header-text">Head 1</span></th>
          <th><span class="triangle" style="font-size: 12px">&#9660;</span> <span class="header-text">Head 2</span></th>
          <th><span class="triangle" style="font-size: 12px">&#9660;</span> <span class="header-text">Head 3</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
        </tr>
        <tr>
          <td>Cell 4</td>
          <td>Cell 5</td>
          <td>Cell 6</td>
        </tr>
        <tr>
          <td>Cell 7</td>
          <td>Cell 8</td>
          <td>Cell 9</td>
        </tr>
        </tbody>

      </table>
    </div>

    <div>
      <div class="ad">Блок рекламы</div>
    </div>

  </div>

</div>

<div th:insert="main_f :: footer"></div>

</body>
</html>