<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/main_page_22.css}">
  <link rel="stylesheet" th:href="@{/css/main_h_f2.css}">
  <link rel="stylesheet" th:href="@{/css/news-list3.css}">
  <title>KinoCMS</title>
</head>
<body>

<div th:insert="main_h :: main_header"></div>

<div class="main">

  <div class="banner">
    <img th:src="@{/images/pages/{id}/{url}(id=${page.id}, url=${page.main_picture})}" alt="">
  </div>

  <div class="content" style="column-gap: 5px">

    <div>
      <h2 th:text="${page.name}" style="text-align: center">Мобильные приложения</h2>
      <br>
      <p th:text="${page.description}" >Lorem ipsum dolor sit amet</p>
      <br>
      <div class="photos">
        <div><img style="aspect-ratio: 0" class="photo" th:src="@{/images/pages/{id}/{url}(id=${page.id}, url=${page.picture1})}" alt=""></div>
        <div><img style="aspect-ratio: 0" class="photo" th:src="@{/images/pages/{id}/{url}(id=${page.id}, url=${page.picture2})}" alt=""></div>
        <div><img style="aspect-ratio: 0" class="photo" th:src="@{/images/pages/{id}/{url}(id=${page.id}, url=${page.picture3})}" alt=""></div>
        <div><img style="aspect-ratio: 0" class="photo" th:src="@{/images/pages/{id}/{url}(id=${page.id}, url=${page.picture4})}" alt=""></div>
      </div>
    </div>

    <div>
      <div class="ad">Блок рекламы</div>
    </div>

  </div>

</div>

<div th:insert="main_f :: footer"></div>

</body>
</html>