<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/main_page_17.css}">
  <link rel="stylesheet" th:href="@{/css/main_h_f1.css}">
  <link rel="stylesheet" th:href="@{/css/news-list.css}">
  <title>KinoCMS</title>
</head>
<body>

<div th:insert="main_h :: main_header"></div>

<div class="main">

  <div class="banner">
    <img src="../images/empty.jpg" alt="">
  </div>

  <div class="content">

    <div>
      <h2 style="text-align: center">Мобильные приложения</h2>
      <br>
      <p>Lorem ipsum dolor sit amet</p>
      <br>
      <div class="photos">
        <div><img class="photo" src="../images/empty.jpg" alt=""></div>
        <div><img class="photo" src="../images/empty.jpg" alt=""></div>
        <div><img class="photo" src="../images/empty.jpg" alt=""></div>
        <div><img class="photo" src="../images/empty.jpg" alt=""></div>
      </div>
    </div>

    <div>
      <div class="ad">Блок рекламы</div>
    </div>

  </div>

</div>

<div th:insert="main_f :: footer"></div>

</body>
</html>