<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/main_page_22.css}">
  <link rel="stylesheet" th:href="@{/css/main_h_f2.css}">
  <link rel="stylesheet" th:href="@{/css/seance1.css}">
  <title>Бронирование билета</title>
</head>
<body>

<div th:insert="main_h :: main_header"></div>

<div class="main">

  <div class="banner">
    <img src="/images/hall.png" alt="">
  </div>

  <div class="seance">

    <div class="ads">
      <img th:src="@{/images/movies/{url}(url=${movie.main_picture})}" src="../images/empty.jpg" alt="">
      <div style="background-color: black; color: white; width: 100%; height: 320px;"><h3>БЛОК РЕКЛАМЫ</h3></div>
    </div>

    <div class="scheme">
      <img style="width: 100%;" src="/images/seance.png" alt="">
      <h5>Стоимость услуги бронирования - 3 грн. за каждое место</h5>
      <h5>ЗАБРОНИРОВАННЫЕ БИЛЕТЫ МОЖНО ВЫКУПИТЬ В КАССЕ КИНОТЕАТРА НЕ ПОЗДНЕЕ ЧЕМ ЗА ПОЛЧАСА</h5>
      <div style="margin: auto;">
        <button>Забронировать</button>
        <button>Купить</button>
      </div>
    </div>

  </div>


</div>

<div th:insert="main_f :: footer"></div>

</body>
</html>