<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/main_page_22.css}">
  <link rel="stylesheet" th:href="@{/css/main_h_f2.css}">
  <link rel="stylesheet" th:href="@{/css/theater_page1.css}">
  <title>KinoCMS</title>
</head>
<body>

<div th:insert="main_h :: main_header"></div>

<div class="main">

  <div class="banner">
    <img th:src="@{/images/theaters/{id}/{url}(id=${theater.theater_id}, url=${theater.logo})}" alt="">
  </div>

  <div class="content">

    <div>
      <div class="ad">Блок рекламы</div>

      <div>
        <h4>Количество залов: <span th:text="${hallAmount}">6</span></h4>

        <div class="hall-menu">
          <a style="color: black; text-decoration: none;" th:each="hall : ${theater.halls}"
             th:href="@{/theaters/{id}/{hall_id}(id=${theater.theater_id}, hall_id=${hall.hallId.hall_number})}"
             class="hall">
            <span th:text="${hall.name}">DefaultName</span>
          </a>
        </div>
      </div>

      <div>
        <h4>Смотреть сейчас: </h4>

        <div class="seance-menu">
          <form action="/seance" method="get">
            <button class="seance">Сеанс 1</button>
          </form>
          <form action="/seance" method="get">
            <button class="seance">Сеанс 2</button>
          </form>
          <form action="/seance" method="get">
            <button class="seance">Сеанс 3</button>
          </form>
          <form action="/seance" method="get">
            <button class="seance">Сеанс 4</button>
          </form>
          <form action="/seance" method="get">
            <button class="seance">Сеанс 5</button>
          </form>
          <form action="/seance" method="get">
            <button class="seance">Сеанс 6</button>
          </form>
        </div>

      </div>

      <form action="/schedule" method="get">
        <button id="schedule-button">Расписание всех сеансов</button>
      </form>

    </div>

    <div class="details">
      <div class="details-block">
        <h2 style="font-weight: bold;" th:text="${theater.name}">Оскар</h2>
      </div>
      <div class="details-block">
        <h2>Описание</h2>
        <p th:text="${theater.description}">Lorem ipsum dolor sit amet</p>

      </div>
      <div class="details-block">
        <h2>Условия</h2>
        <div class="conditions">
          <div>
            <h3>Детская комната</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div>
            <h3>VIP-зал</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div>
            <h3>Бар</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div>
            <h3>Попкорн-бар</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div>
            <h3>Магазин</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div>
            <h3>Подарочные сертификаты</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>
      <div class="snapshot">
        <h2>Кадры и постеры</h2>
        <div th:if="${(theater.picture1 != '' || theater.picture1 != null) ||
         (theater.picture2 != '' && theater.picture2 != null) || (theater.picture3 != '' && theater.picture3 != null) ||
          (theater.picture4 != '' && theater.picture4 != null) || (theater.picture5 != '' && theater.picture3 != null)}"
             data-slideIndex="1" class="slideshow-container">

          <div th:if="${(theater.picture1 != null) && (theater.picture1 != '')}" class="mySlides fade">
            <img style="height: 500px"
                 th:src="@{/images/theaters/{id}/{url}(id=${theater.theater_id}, url=${theater.picture1})}"
                 onerror="this.onerror=null;this.src = '/images/empty.jpg';" alt="">
          </div>

          <div th:if="${(theater.picture2 != null) && (theater.picture2 != '')}" class="mySlides fade">
            <img style="height: 500px"
                 th:src="@{/images/theaters/{id}/{url}(id=${theater.theater_id}, url=${theater.picture2})}"
                 onerror="this.onerror=null;this.src = '/images/empty.jpg';" alt="">
          </div>

          <div th:if="${(theater.picture3 != null) && (theater.picture3 != '')}" class="mySlides fade">
            <img style="height: 500px"
                 th:src="@{/images/theaters/{id}/{url}(id=${theater.theater_id}, url=${theater.picture3})}"
                 onerror="this.onerror=null;this.src = '/images/empty.jpg';" alt="">
          </div>

          <div th:if="${(theater.picture4 != null) && (theater.picture4 != '')}" class="mySlides fade">
            <img style="height: 500px"
                 th:src="@{/images/theaters/{id}/{url}(id=${theater.theater_id}, url=${theater.picture4})}"
                 onerror="this.onerror=null;this.src = '/images/empty.jpg';" alt="">
          </div>

          <div th:if="${(theater.picture5 != null) && (theater.picture5 != '')}" class="mySlides fade">
            <img style="height: 500px"
                 th:src="@{/images/theaters/{id}/{url}(id=${theater.theater_id}, url=${theater.picture5})}"
                 onerror="this.onerror=null;this.src = '/images/empty.jpg';" alt="">
          </div>

          <a class="prev" onclick="plusSlides(-1, this.parentNode)">&#10094;</a>
          <a class="next" onclick="plusSlides(1, this.parentNode)">&#10095;</a>

          <div class="dots" style="text-align:center">
            <span th:if="${(theater.picture1 != null) && (theater.picture1 != '')}" class="dot" onclick="currentSlide(1, this.parentNode.parentNode)"></span>
            <span th:if="${(theater.picture2 != null) && (theater.picture2 != '')}" class="dot" onclick="currentSlide(2, this.parentNode.parentNode)"></span>
            <span th:if="${(theater.picture3 != null) && (theater.picture3 != '')}" class="dot" onclick="currentSlide(3, this.parentNode.parentNode)"></span>
            <span th:if="${(theater.picture4 != null) && (theater.picture4 != '')}" class="dot" onclick="currentSlide(4, this.parentNode.parentNode)"></span>
            <span th:if="${(theater.picture5 != null) && (theater.picture5 != '')}" class="dot" onclick="currentSlide(5, this.parentNode.parentNode)"></span>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

<div th:insert="main_f :: footer"></div>

<script src="/slideshow.js"></script>

</body>
</html>