<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/main_page_17.css}">
  <link rel="stylesheet" th:href="@{/css/main_h_f1.css}">
  <link rel="stylesheet" th:href="@{/css/theater_list.css}">
  <title>KinoCMS</title>
</head>
<body>

<div th:insert="main_h :: main_header"></div>

<div class="main">

  <div class="banner">
    <img src="../images/caption.jpg" alt="">
  </div>

  <div class="content">

    <div>

      <h2>Наши кинотеатры</h2>

      <div class="cinema-list">

        <div class="theater" th:each="theater : ${theaters}">
          <a th:href="'/theaters/' + ${theater.theater_id}">
            <img th:src="@{/images/theaters/{id}/{url}(id=${theater.theater_id}, url=${theater.logo})}" alt="">
            <p th:text="${theater.name}">Кинотеатр</p>
          </a>
        </div>

      </div>

    </div>

    <div class="ad">Блок рекламы</div>

  </div>

<div th:insert="main_f :: footer"></div>

</body>
</html>