.container, .container2 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
}


.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.row1 p {
    padding-left: 10px;
}

.container .row2 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    row-gap: 30px;
}

.photo_section {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.container2 .row2 {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 3fr;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 35px;
    align-items: center;
}

.container2 .row2 .col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 25px;
}


.container .col {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}


.col div {
    padding-bottom: 5px;
}

.col button {
    width: 158px;
}

.col i {
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 1;
    cursor: pointer;
}

.delete-button:hover {
    color: red;
    transition: color 0.3s;
}

.col input {
    width: 150px;
}

.col img, .col2 img {
    position: relative;
    width: 160px;
    height: 100px;
    border: 4px solid black;
}

.row3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.row3 .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row3 .left p {
    padding-right: 15px;
    padding-bottom: 3px;
}

.row3 .right {
    display: flex;
    justify-content: start;
    margin-left: -80px;
}

.input[type='radio'] {
    align-items: left;
}
