.header {
    
    position: fixed;
    z-index: 255;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(34, 34, 34);
    color: rgb(237, 231, 231);
    border: 2px solid rgb(39, 38, 38);

}

.left {
    padding-left: 25px;
}

.left img {
    height: 10vh;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    height: 10vh;
}

.right p {
    margin-left: 9px;
    margin-right: 40px;
}

.power-b {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    width: 34px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    color: black;
}