* {
    border:0;
    padding:0;
    box-sizing: border-box;
}

body {
    padding-left: 15%;
    padding-right: 15%;
    font-family: Arial, Helvetica, sans-serif
}

.slideshow-container {
    position: relative;
    margin: auto;
    width: 100%;
    max-height: 600px;
}

.slideshow-container img {
    width: 100%;
    height: 600px;
    border: 2px solid black;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.4);
}

.prev {
   left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover, .text:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 0.2px black;
  box-shadow: 1px 1px 5px black;
  padding: 8px 12px;
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  transition: 0.6s ease;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  caret-color: transparent;
}



.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.active, .dot:hover {
  background-color: #717171;
}

.date {
    color: gray;
    font-weight: bold;
    -webkit-text-stroke: 0.5px silver;
}

.main {
    padding:10px;
}

h1,h2 {
    text-align: center;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 4px;
    padding-left: 3%;
    text-align: center;
}

.movie {
    width: 24%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.movie img {
    width: 100%;
    height: 330px;
}

.movie h4 {
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Segoe UI';
    padding: 0;
    margin: 0;
}

.movie a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: blue;
}

.movie a:hover {
    background-color: none;
    text-decoration: underline;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    color: rgb(153, 51, 255);
}

.ticket {
    height: 35px;
    width: 150px;
    border: 2px solid silver;
    box-shadow: 0px 1px 5px white;
    border-radius: 8px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.ticket:hover {
    background-color: rgb(51, 204, 51);
    transition: background-color 0.2s;
}

.offers {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15px;
    width: 60%;
    max-height: 300px;
}

.ad {
    margin: auto;
    width: 50%;
    background-color: gray;
    border: 2px dashed black;
    height: 100px;
}

p {
    padding: 0;
    margin: 0;
}


.about-cinema {
    width: 100%;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


.contacts-block {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

input {
    height: 30px;
    padding-left: 3px;
}

h3, h5 {
    font-weight: normal;

    padding: 0;
    margin: 0;

    padding-top: 8px;
    padding-bottom: 5px;
}

h3 {
    padding-bottom: 15px;
}

i {
    color: white;
    cursor: pointer;
}

.photos {
    display: flex;
    column-gap: 10px;
}

.photos {
    width: 100%;
}



