body {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding-top: 10vh;
    padding-left: 20vw;
    padding-right: 2vw;
}

.chart {
    height: 20%;
    width: 20%;
}
