
table {
    margin-top: 30px;
    text-align: left;
    width: 100%;
}

th, td:not(.icons){
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 3px double black;
}

td[class='icons'] {
    padding-left: 20px;
}

th {
    background-color: rgba(52, 104, 117, 0.6);
    color: white;
}