<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>KinoCMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/film-info2.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>
<body>

    <div th:insert="header :: header"></div>
    <div th:insert="sidebar :: sidebar"></div>

    <div class="main">

        <div class="language"></div>

        <form th:action="@{/news/add}" th:object="${article}" method="post"
                enctype="multipart/form-data">

            <div>
                <p>Название новости</p>
                <input type="text" name="name" placeholder="Название новости">
                <p>Дата публикации</p>
                <input type="date" name="date">
            </div>

            <div>
                <p>Описание</p>
                <input type="text" name="description" placeholder="Текст" class="big-text-box">
            </div>

            <div class="picture-load">

                <p>Главная картинка</p>
                <div class="preview" id="main_preview"><img src="/images/empty.jpg" onclick="UploadImage(document.getElementById('main_preview'), document.getElementById('main_picture'))" alt=""></div>
                <input type="file" name="main_picture" id="main_picture" accept="image/*" value="idk" style="display: none;"/>
                <button type="button" onclick="UploadImage(document.getElementById('main_preview'), document.getElementById('main_picture'))">Добавить</button>
                <button type="button" onclick="ClearImage(document.getElementById('main_preview'), document.getElementById('main_picture'));">Удалить</button>

            </div>

            <p>Галерея картинок</p>
            <div class="gallery">

                <div><p>Размер: 1000х190</p></div>

                <div class="gallery-pictures">
                    <div class="picture">
                        <div class="preview" id="preview_1"><img src="/images/empty.jpg" onclick="UploadImage(document.getElementById('preview_1'), document.getElementById('picture_1'))" alt=""></div>
                        <input type="file" name="picture1" id="picture_1" accept="image/*" value="idk" style="display: none;"/>
                        <button type="button" onclick="UploadImage(document.getElementById('preview_1'), document.getElementById('picture_1'))">Добавить</button>
                        <button type="button" onclick="ClearImage(document.getElementById('preview_1'), document.getElementById('picture_1'));">Удалить</button>
                    </div>
                    <div class="picture">
                        <div class="preview" id="preview_2"><img src="/images/empty.jpg" onclick="UploadImage(document.getElementById('preview_2'), document.getElementById('picture_2'))" alt=""></div>
                        <input type="file" name="picture2" id="picture_2" accept="image/*" value="idk" style="display: none;"/>
                        <button type="button" onclick="UploadImage(document.getElementById('preview_2'), document.getElementById('picture_2'))">Добавить</button>
                        <button type="button" onclick="ClearImage(document.getElementById('preview_2'), document.getElementById('picture_2'));">Удалить</button>
                    </div>
                    <div class="picture">
                        <div class="preview" id="preview_3"><img src="/images/empty.jpg" onclick="UploadImage(document.getElementById('preview_3'), document.getElementById('picture_3'))" alt=""></div>
                        <input type="file" name="picture3" id="picture_3" accept="image/*" value="idk" style="display: none;"/>
                        <button type="button" onclick="UploadImage(document.getElementById('preview_3'), document.getElementById('picture_3'))">Добавить</button>
                        <button type="button" onclick="ClearImage(document.getElementById('preview_3'), document.getElementById('picture_3'));">Удалить</button>
                    </div>
                    <div class="picture">
                        <div class="preview" id="preview_4"><img src="/images/empty.jpg" onclick="UploadImage(document.getElementById('preview_4'), document.getElementById('picture_4'))" alt=""></div>
                        <input type="file" name="picture4" id="picture_4" accept="image/*" value="idk" style="display: none;"/>
                        <button type="button" onclick="UploadImage(document.getElementById('preview_4'), document.getElementById('picture_4'))">Добавить</button>
                        <button type="button" onclick="ClearImage(document.getElementById('preview_4'), document.getElementById('picture_4'));">Удалить</button>
                    </div>
                    <div class="picture">
                        <div class="preview" id="preview_5"><img src="/images/empty.jpg" onclick="UploadImage(document.getElementById('preview_5'), document.getElementById('picture_5'))" alt=""></div>
                        <input type="file" name="picture5" id="picture_5" accept="image/*" value="idk" style="display: none;"/>
                        <button type="button" onclick="UploadImage(document.getElementById('preview_5'), document.getElementById('picture_5'))">Добавить</button>
                        <button type="button" onclick="ClearImage(document.getElementById('preview_5'), document.getElementById('picture_5'));">Удалить</button>
                    </div>
                </div>
            </div>

            <div>
                <p>Ссылка на трейлер</p>
                <input type="text" placeholder="Ссылка на видео в youtube" style="width: 830px">
            </div>

            <div class="seo">
                <p>SEO</p>
                <div class="seo-block">
                    <div class="names">
                        <p>URL:</p>
                        <p>Title:</p>
                        <p>Keywords:</p>
                        <p>Description:</p>

                    </div>
                    <div class="inputs">
                        <input type="text" placeholder="URL">
                        <input type="text" placeholder="Title">
                        <input type="text" placeholder="word">
                        <input type="text" class="description-box" placeholder="Description">

                    </div>
                </div>
            </div>

            <div class="save">
                <button type="submit">Сохранить</button>
            </div>

        </form>
    </div>

    <script src="/file_upload.js"></script>

</body>

</html>