<div th:fragment="sidebar" class="sidebar" style="margin: 0;">

    <a href="/admin"><div class="sidebar-element"><i class="fa-solid fa-chart-simple fa-2x"></i><p style="margin: 0; padding-left: 15px; ">Статистика</p></div></a>
    <a href="/banners"><div class="sidebar-element"><i class="fa-regular fa-image fa-2x"></i><p style="margin: 0; padding-left: 15px; ">Баннера/Слайдеры</p></div></a>
    <a href="/movies"><div class="sidebar-element"><i class="fa-sharp fa-solid fa-film fa-2x"></i><p style="margin: 0; padding-left: 15px; ">Фильмы</p></div></a>
    <a href="/theaters"><div class="sidebar-element"><i class="fa-solid fa-clapperboard fa-2x"></i><p style="margin: 0; padding-left: 15px; ">Кинотеатры</p></div></a>
    <a href="/news"><div class="sidebar-element"><i class="fa-solid fa-newspaper fa-2x"></i><p style="margin: 0; padding-left: 15px; ">Новости</p></div></a>
    <a href="/offers"><div class="sidebar-element"><i class="fa-solid fa-tag fa-2x"></i><p style="margin: 0; padding-left: 15px; ">Акции</p></div></a>
    <a href="/pages"><div class="sidebar-element"><i class="fa-brands fa-squarespace fa-2x"></i><p style="margin: 0; padding-left: 15px; ">Страницы</p></div></a>
    <a href="/users"><div class="sidebar-element"><i class="fa-solid fa-user fa-2x"></i><p style="margin: 0; padding-left: 15px; ">Пользователи</p></div></a>
    <a href="/sms"><div class="sidebar-element"><i class="fa-solid fa-comment-sms fa-2x"></i><p style="margin: 0; padding-left: 15px; ">Рассылка</p></div></a>

</div>